:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --gray: hsl(0deg 0% 96.08%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  --font-weight-400: 400;
  --font-weight-600: 600;
}

@font-face {
  font-family: "DM Sans";
  src: url(assets/fonts/static/DMSans-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: var(--gray);
  color: var(--white);
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding: 2rem 0;

  .container {
    display: grid;
    height: 100%;

    .grid-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      width: 90%;
      gap: 1.7rem;
      align-items: center;

      .card {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 1.5rem;
        width: 100%;
        height: auto;
        border-radius: 15px;
        text-align: left;
        gap: 20px;

        &:nth-child(1) {
          background-color: var(--purple-500);
          text-align: center;
          h1 {
            span {
              color: var(--yellow-500);
            }
          }

          .reviews {
            img {
              max-width: 180px;
            }
          }
        }

        &:nth-child(2) {
          background-color: var(--white);
          color: var(--black);
        }

        &:nth-child(3) {
          background-color: var(--yellow-500);
          color: var(--black);
          position: relative;

          img {
            min-width: 240px;
            margin-bottom: -50px;
          }
        }

        &:nth-child(4) {
          background-color: var(--purple-100);
          color: var(--black);
          align-items: center;
          text-align: center;
        }

        &:nth-child(5) {
          background-color: var(--purple-500);
          text-align: center;
          align-items: center;
          gap: 40px;

          h2 {
            font-size: clamp(2rem, 2.8vw, 2.2rem);
          }

          img {
            max-width: 210px;
          }
        }

        &:nth-child(6) {
          background-color: var(--white);
          color: var(--black);

          h2 {
            font-size: 2.8rem;
          }

          img {
            max-width: 180px;
          }
        }

        &:nth-child(7) {
          background-color: var(--yellow-100);
          color: var(--black);

          h2 {
            span {
              color: var(--purple-500);
            }
          }

          img {
            max-width: 200px;
          }
        }

        &:nth-child(8) {
          background-color: var(--yellow-500);
          color: var(--black);
        }

        h1 {
          font-size: 2.5rem;
          line-height: 1.2;
          font-weight: var(--font-weight-600);
        }

        h2 {
          font-size: clamp(1.6rem, 2.5vw, 1.8rem);
          font-weight: var(--font-weight-600);
          margin-bottom: 0.5rem;
          line-height: 0.95;
        }

        p {
          font-size: 1rem;
          font-weight: var(--font-weight-400);
          line-height: 1.2;
        }

        img {
          width: 100%;
          max-width: 310px;
        }
      }

      @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        place-content: center;
        min-height: 50vh;
        max-width: 1200px;

        .card {
          place-content: center;
          height: 100%;

          &:nth-child(1) {
            grid-column: 2/4;
            grid-row: 1;
          }

          &:nth-child(2) {
            grid-column-start: 2;
            grid-row: 2;
            justify-content: space-evenly;

            img {
              width: 305px;
            }
          }

          &:nth-child(3) {
            grid-column-start: 3;
            grid-row: 2;
            justify-content: space-evenly;

            img {
              min-width: unset;
              margin-bottom: -105px;
            }
          }

          &:nth-child(4) {
            grid-column-start: 4;
            grid-row: 1/3;
            text-align: left;

            img {
              width: 100%;
              min-width: 370px;
              margin-right: -160px;
            }
          }

          &:nth-child(5) {
            grid-column: 3/5;
            grid-row-start: 3;
            flex-direction: row;
            text-align: left;
            gap: 15px;

            h2 {
              font-size: clamp(1.6rem, 2.8vw, 2.2rem);
            }
          }

          &:nth-child(6) {
            grid-column-start: 2;
            grid-row-start: 3;

            h2 {
              font-size: 3rem;
            }

            img {
              max-width: 160px;
            }
          }

          &:nth-child(7) {
            grid-column-start: 1;
            grid-row: 1/3;
            align-self: start;
            height: 72%;

            h2 {
              font-size: clamp(1.8rem, 2.8vw, 2.3rem);
            }
          }

          &:nth-child(8) {
            grid-column-start: 1;
            grid-row: 2/4;
            align-self: end;
            height: 72%;
            gap: 30px;

            h2 {
              font-size: clamp(1.8rem, 2.8vw, 2.3rem);
            }
          }

          h1 {
            font-size: 3em;
          }

          h2 {
            font-size: clamp(1.5rem, 2.5vw, 2rem);
            font-weight: var(--font-weight-600);
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
